<main>

  <section id="section-banner">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/banner1.jpg" class="d-block w-100" alt="Todos os Consoles e Jogos!">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner2.jpg" class="d-block w-100" alt="Manutenção em todas as plataformas.">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner3.jpg" class="d-block w-100" alt="Monte seu Setup.">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <h2>Jogos em Promoção</h2>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/Red Dead Redemption 2.jpg" alt="Jogo Destaque">

        <mat-card-header>
          <mat-card-title>Jogo Destaque</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Red Dead Redemption 2 é um jogo de ação e aventura em mundo aberto desenvolvido pela Rockstar Games. O jogo
            se passa em 1899, no final da era do Velho Oeste, e segue a história do fora-da-lei Arthur Morgan, membro da
            gangue Van der Linde..
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 300,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/God of War Ragnarok.jpg" alt="Jogo do Ano">

        <mat-card-header>
          <mat-card-title>Jogo do Ano</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            God of War Ragnarok é um jogo eletrônico de ação-aventura desenvolvido pela Santa Monica Studio e publicado
            pela Sony Interactive Entertainment. Foi lançado em 9 de novembro de 2022 para PlayStation 4 e PlayStation
            5.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 299,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/Fifa 24.jpeg" alt="Melhor experiência em Futebol...">

        <mat-card-header>
          <mat-card-title>Melhor experiência em Futebol...</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            O EA SPORTS FC™ 24 traz para você o Jogo de Todo Mundo, a experiência mais realista de futebol de todos os
            tempos.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 259,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>









</main>